@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Warang+Citi&display=swap');

* {
    font-family: "Signika Negative", sans-serif;
}

.section-right .section-center .section-left {
    height: 100vh;
    width: 100%;
}

/* Right Column */

.section-right {
    background: rgb(251, 251, 251);
    color: #0F0F0F;
    height: 100vh;
    display: flex;
    border: none;
    border-right: 1px solid #EFECEC;
}

.title {
    margin: auto;
}

.title p {
    animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
}

@keyframes reveal {
    0% {
      transform: translate(0,100%);
    }
    100% {
      transform: translate(0,0);
    }
  }

/* Center Column */

.section-center {
    background: rgb(251, 251, 251);
    height: 100vh;
    display: flex;
    border-right: 1px solid #EFECEC;
}

/* Block One */

.create-button{
    margin: auto;
}

.main-button {
    width: 15em;
    height: 3em;
    background-color: #0F0F0F;
    color: rgb(251, 251, 251);
    border-radius: 40px;
}

.main-button:hover {
    background-color: rgb(251, 251, 251);
    color: #0F0F0F;
}

/* End of Block One */

/* Block Two */

.education-record {
    margin: auto;
    width: 90%;
    box-shadow: 
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    border-radius: 15px 15px 0px 0px;
}

.title-form {
    text-align: left;
    padding: 1em;
    background-color: #2B2B2B;
    color: rgb(251, 251, 251);
    border-radius: 15px 15px 0px 0px;
}

.education-form {
    /* border: 1px solid #0F0F0F; */
    padding: 15px;
}

.education-form input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 15px;

    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.education-form input:focus {
    border: 3px solid #555;
}

.education-form label {
    float: left;
    font-size: 13px;
    font-weight: bold;
}

.education-buttons button {
    width: 40%;
    height: 3rem;
    border-radius: 15px;
    border: none;
    background-color: #fff;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.education-buttons button:hover {
    background-color: #2B2B2B;
    color: #fff;
    
}

.disclaimer-education {
    float: left;
    padding-left: 20px;
    padding-top: 10px;
    text-align: left;
    line-height: 0.5;
    font-weight: bold;
    font-size: 13px;
    border-top: 1px solid #EFECEC;
    width: 100%;
}

.disclaimer-education #disclaimer-education-1 {
    line-height: 1;
}

.disclaimer-education-blink {
    animation: blinker-one 1s linear infinite;
    color: red;
}

@keyframes blinker-one {
    0% {
      opacity: 0;
    }
  }

/* End of Block Two */

/* Block Three */

.work-experience-record {
    margin: auto;
    width: 90%;    
    border-radius: 15px 15px 0px 0px;
    box-shadow: 
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.experience-form {
    /* border: 1px solid #0F0F0F; */
    padding: 15px;
}

.experience-form input[type='text'], input[type='date'] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 15px;

    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.experience-form input[type='text']:focus, input[type='date']:focus {
    border: 3px solid #555;
}

.experience-form label {
    float: left;
    font-size: 13px;
    font-weight: bold;
}

.experience-form #label-check {
    float: right;
}

.experience-form input[type='checkbox'] {
    box-sizing: border-box;
    border: none;
    outline: none;

    width: 15px;
    height: 15px;

    margin-right: 5px;
    margin-top: 1px;
}

.experience-form #present-work {
    float: right;
    padding-right: 5px;
}

.experience-buttons button {
    width: 30%;
    height: 3rem;
    border-radius: 15px;
    border: none;
    background-color: #fff;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.experience-buttons button:hover {
    background-color: #2B2B2B;
    color: #fff;
    
}

.disclaimer-experience {
    float: left;
    padding-left: 20px;
    padding-top: 10px;
    text-align: left;
    line-height: 0.5;
    font-weight: bold;
    font-size: 13px;
    border-top: 1px solid #EFECEC;
    width: 100%;
}

.disclaimer-experience #disclaimer-experience-1 {
    line-height: 1;
}

.disclaimer-experience-blink {
    animation: blinker-two 1s linear infinite;
    color: red;
}

@keyframes blinker-two {
    0% {
      opacity: 0;
    }
}
/* End of Block Three */

/* Fourth Block */

.resume {
    margin: auto;
    width: 90%;    
    box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    float: left;
    height: 3rem;
}

.resume input {
    width: 50%;
    height: 100%;
    float: left;
    outline: none;
    border: none;
    padding: 5px;
}

.resume button {
    width: 25%;
    height: 100%;
    float: left;
    border: none;
    background-color: #A7A7A7;
    color: #2B2B2B;
}

.resume button:hover {
    background-color: #2B2B2B;
    color: #fff;
}

/* End of Block Fourth */

/* Error Block */

.error-display {
    float: left;
    padding: 20px;
}

/* End of Block Error */

/* Left Column */

.section-left {
    background: rgb(251, 251, 251);
    height: 100vh;
    display: flex;
}

/* Preview Education */

.preview-education {
    margin: auto;
    line-height: 0.5;
    width: 80%;
    font-family: 'Noto Sans Warang Citi', sans-serif;
}

.preview-education #course_education {
    text-align: left;
    font-weight: bold;
    line-height: 1;
    font-size: 20px;
}

.preview-education #place_education {
    text-align: left;
    font-size: 15px;
}

.preview-education #date_education {
    text-align: left;
    font-size: 13px;
}

.preview-education #button_education {
    width: 100%;
    height: 2.1rem;
    border-radius: 15px;
    border: none;
    background-color: #A7A7A7;
    color: #2B2B2B;
    margin-bottom: 15px;
}

.preview-education #button_education:hover {
    width: 100%;
    height: 2.1rem;
    border-radius: 15px;
    border: none;
    background-color: #2B2B2B;
    color: #fff;
}

/* End Preview Education */

/* Preview Experience */

.preview-experience {
    margin: auto;
    line-height: 0.5;
    width: 80%;
    font-family: 'Noto Sans Warang Citi', sans-serif;
}

.preview-experience #name_employer {
    text-align: left;
    font-weight: bold;
    line-height: 1;
    font-size: 20px;
}

.preview-experience #position_employer {
    text-align: left;
    font-size: 15px;
}

.preview-experience #date_employer {
    text-align: left;
    font-size: 13px;
}

.preview-experience #button_employer {
    width: 100%;
    height: 2.1rem;
    border-radius: 15px;
    border: none;
    background-color: #A7A7A7;
    color: #2B2B2B;
    margin-bottom: 15px;
}

.preview-experience #button_employer:hover {
    width: 100%;
    height: 2.1rem;
    border-radius: 15px;
    border: none;
    background-color: #2B2B2B;
    color: #fff;
}

/* End Preview Experience */