@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Warang+Citi&display=swap');

* {
    background-color: #0F0F0F;
    /* font-family: 'Poppins'; */
    font-family: 'Noto Sans Warang Citi', sans-serif;
}

a {
    background-color: #FF6847;
}

.section-one .section-two {
    height: 100vh;
    width: 100%;
}

/* Right Column */

.section-one {
    color: #EFECEC;
    height: 100vh;
    display: flex;
    border: none;
}

.education {
    margin: auto;
    line-height: 0.5;
    animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
}

@keyframes reveal {
    0% {
      transform: translate(0,100%);
    }
    100% {
      transform: translate(0,0);
    }
  }

.education h1 {
    margin-bottom: 15px;
}


.education #course_education {
    text-align: left;
    font-weight: bold;
    font-size: 20px;
}

.education #place_education {
    text-align: left;
    font-size: 15px;
    color: #FF6847;
}

.education #date_education {
    text-align: left;
    font-size: 13px;
}

.section-two {
    color: #EFECEC;
    height: 100vh;
    display: flex;
    border: none;
}

.experience {
    margin: auto;
    line-height: 0.5;
    animation: reveal2 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
}

@keyframes reveal2 {
    0% {
      transform: translate(0,100%);
    }
    100% {
      transform: translate(0,0);
    }
  }

.experience h1 {
    margin-bottom: 15px;

}

.experience #name_employer {
    text-align: left;
    font-weight: bold;
    font-size: 20px;
}

.experience #position_employer {
    text-align: left;
    font-size: 15px;
    color: #FF6847;
}

.experience #date_employer {
    text-align: left;
    font-size: 13px;
}

